In [18]:
def fact(x):
    f = 1
    for i in range(x):
        if i !=0:
            f += f*i
        else:
            f = 1
    print(f)
            
    

fact(1)

1

In [12]:
import pandas as pd
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}

df = pd.DataFrame(d)

In [13]:
df.head()

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [15]:
df['two'].apply(lambda x : x**2)

a     1.0
b     4.0
c     9.0
d    16.0
Name: two, dtype: float64

In [16]:
select * from df where

SyntaxError: invalid syntax (Temp/ipykernel_13688/1051234404.py, line 1)

In [36]:
str1 = '''
2021-09-06 User_01 Yes
2021-09-06 User_02 Yes
2021-09-06 User_03 Yes
2021-09-06 User_04 Yes
2021-09-06 User_05 Yes
2021-09-07 User_01 No
2021-09-07 User_02 Yes
2021-09-07 User_03 Yes
2021-09-07 User_04 No
2021-09-07 User_05 Yes
2021-09-08 User_01 Yes
2021-09-08 User_02 Yes
2021-09-08 User_03 No
2021-09-08 User_04 Yes
2021-09-08 User_05 Yes
2021-09-09 User_01 Yes
2021-09-09 User_02 Yes
2021-09-09 User_03 Yes
2021-09-09 User_04 No
2021-09-09 User_05 Yes
2021-09-10 User_01 Yes
2021-09-10 User_02 No
2021-09-10 User_03 Yes
2021-09-10 User_04 Yes
2021-09-10 User_05 Yes
2021-09-11 User_01 Yes
2021-09-11 User_02 No
2021-09-11 User_03 Yes
2021-09-11 User_04 Yes'''

type(string)
str2 = string.split(" ")

str3 = "','".join(str2)
print(len(str3))
str3
# "insert into attendance(".join(str3.split("\n"))

777

"\n2021-09-06','User_01','Yes\n2021-09-06','User_02','Yes\n2021-09-06','User_03','Yes\n2021-09-06','User_04','Yes\n2021-09-06','User_05','Yes\n2021-09-07','User_01','No\n2021-09-07','User_02','Yes\n2021-09-07','User_03','Yes\n2021-09-07','User_04','No\n2021-09-07','User_05','Yes\n2021-09-08','User_01','Yes\n2021-09-08','User_02','Yes\n2021-09-08','User_03','No\n2021-09-08','User_04','Yes\n2021-09-08','User_05','Yes\n2021-09-09','User_01','Yes\n2021-09-09','User_02','Yes\n2021-09-09','User_03','Yes\n2021-09-09','User_04','No\n2021-09-09','User_05','Yes\n2021-09-10','User_01','Yes\n2021-09-10','User_02','No\n2021-09-10','User_03','Yes\n2021-09-10','User_04','Yes\n2021-09-10','User_05','Yes\n2021-09-11','User_01','Yes\n2021-09-11','User_02','No\n2021-09-11','User_03','Yes\n2021-09-11','User_04','Yes"

In [9]:
# 1,3,7,13,21,31

k = 2
j = 1
for i in range (31):
    print(j)
    j += k
    k += 2

1
3
7
13
21
31
43
57
73
91
111
133
157
183
211
241
273
307
343
381
421
463
507
553
601
651
703
757
813
871
931

In [14]:
# 1,2,5,10,17,26,37,50,...

j = 1
k = 1
for i in range(1,10):
    print(j)
    j += k
    k += 2

1
2
5
10
17
26
37
50
65