In [182]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [183]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [211]:
# If for any column(s), the variance is equal to zero, then you need to remove those variable(s)


df_train.describe()

,ID,y,X10,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,0.007840,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,0.088208,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [185]:
cols_train = []

for itr1 in np.var(df_train,axis = 0).iteritems():
    if itr1[1]==0:
        cols_train.append(itr1[0])
print(cols_train)


cols_test = []

for itr2 in np.var(df_test,axis = 0).iteritems():
    if itr2[1]==0:
        cols_test.append(itr2[0])
print(cols_test)

['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
['X257', 'X258', 'X295', 'X296', 'X369']

C:\Users\Kaushal.kishor\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3700: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

In [186]:
df_train.drop(cols_train,axis = 1,inplace = True)
df_test.drop(cols_train,axis = 1,inplace = True)

In [187]:
df_train.isnull().sum()

ID      0
y       0
X0      0
X1      0
X2      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 366, dtype: int64

In [212]:
# Check for null and unique values for dataset.


for i,j,k,l in zip(df_train.columns,df_train.isnull().sum(),df_test.columns,df_test.isnull().sum()):
    if j != 0 :
        print(i)
    if l != 0 :
        print(k)

In [189]:
train_desc=df_train.describe(include='O')
df_train.describe(include='O')

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    47    27    44     7     4    29    12    25
top        z    aa    as     c     d     w     g     j
freq     360   833  1659  1942  4205   231  1042   277

In [190]:
train_desc.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

In [191]:
test_desc=df_test.describe(include='O')
df_train.describe(include='O')

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    47    27    44     7     4    29    12    25
top        z    aa    as     c     d     w     g     j
freq     360   833  1659  1942  4205   231  1042   277

In [192]:
test_desc.columns

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

In [193]:
for i in ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']:
    print('df_train')
    print(i, df_train[i].unique())
    print('df_test')
    print(i, df_test[i].unique())

df_train
X0 ['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']
df_test
X0 ['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb']
df_train
X1 ['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
df_test
X1 ['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']
df_train
X2 ['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']
df_test
X2 ['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']
df_train
X3 ['a' 'e' 'c' 'f' 'd' 'b' 'g']
df_test
X3 ['f' 'a' 'c' 'e' 'd' 'g' 'b']
df_train
X4 ['d' 'b' 'c' 'a']
df_test
X4 ['d' 'b' 'a' 'c']
df_train
X5 ['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
df_test
X5 ['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']
df_train
X6 ['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']
df_test
X6 ['a' 'g' 'j' 'l' 'i' 'd' 'f' 'h' 'c' 'k' 'e' 'b']
df_train
X8 ['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']
df_test
X8 ['w' 'y' 'j' 'n' 'm' 's' 'a' 'v' 'r' 'o' 't' 'h' 'c' 'k' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x']

In [213]:
# Apply label encoder.


df_train_x= df_train.drop(['ID','y'], axis=1)
df_train_y=df_train['y']

In [195]:
print(df_train_x.shape)
print(df_train_y.shape)

(4209, 364)
(4209,)

In [196]:
df_test_x= df_test.drop(['ID'], axis=1)

In [197]:
print(df_test_x.shape)
print(df_test_x.shape)

(4209, 364)
(4209, 364)

In [198]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()
for i in train_desc.columns:
    df_train_x[i]=le.fit_transform(df_train_x[i])
for i in test_desc.columns:
    df_test_x[i]=le.fit_transform(df_test_x[i])

In [199]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(df_train_x,df_train_y, test_size=0.25, random_state=10)
print(xtrain.shape,ytrain.shape)
print(xtest.shape,ytest.shape)

(3156, 364) (3156,)
(1053, 364) (1053,)

In [214]:
# Perform dimensionality reduction.



from sklearn.decomposition import PCA
from xgboost import XGBRegressor
from sklearn.metrics import accuracy_score

In [201]:
pca =PCA(n_components=0.99, random_state=102)
xtrain_trans=pca.fit_transform(xtrain)
xtest_trans=pca.transform(xtest)
print(xtrain.shape)
print(xtrain_trans.shape)
print(xtest.shape)
print(xtest_trans.shape)

(3156, 364)
(3156, 27)
(1053, 364)
(1053, 27)

In [202]:
pca =PCA(n_components=0.99, random_state=102)
df_train_trans=pca.fit_transform(df_train_x)
print(df_train_x.shape)
print(df_train_trans.shape)

(4209, 364)
(4209, 27)

In [203]:
xgb=XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,colsample_bynode=1, colsample_bytree=0.5,
                 enable_categorical=False, gamma=0, gpu_id=-1, importance_type=None, interaction_constraints='',
                 learning_rate=0.05, max_delta_step=0, max_depth=8, min_child_weight=2, monotone_constraints='()',
                 n_estimators=90, n_jobs=-1,num_parallel_tree=1, objective='reg:squarederror',predictor='auto', 
                 random_state=2341, reg_alpha=1e-06, reg_lambda=2,scale_pos_weight=19.3, subsample=1, tree_method='auto',
                 validate_parameters=1, verbosity=0, eta=0.003)

In [204]:
xgb.fit(xtrain_trans,ytrain)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.5, enable_categorical=False,
             eta=0.003, gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.05, max_delta_step=0,
             max_depth=8, min_child_weight=2, missing=nan,
             monotone_constraints='()', n_estimators=90, n_jobs=-1,
             num_parallel_tree=1, predictor='auto', random_state=2341,
             reg_alpha=1e-06, reg_lambda=2, scale_pos_weight=19.3, subsample=1,
             tree_method='auto', validate_parameters=1, verbosity=0)

In [205]:
ypred=xgb.predict(xtest_trans)
xgb.predict(xtest_trans)

array([ 94.18803 ,  95.58926 ,  76.782845, ..., 108.58723 ,  94.13755 ,
       107.605316], dtype=float32)

In [206]:
print(xgb.score(xtrain_trans,ytrain))
print(xgb.score(xtest_trans,ytest))

0.7876029322759307
0.5253067010091063

In [207]:
xgb.predict(df_train_trans)

array([105.90189 ,  91.797585,  79.2475  , ..., 100.66805 ,  92.18212 ,
        98.11166 ], dtype=float32)