In [26]:
str = "The Jupyter Notebook has two different keyboard input modes. Edit mode allows you to type code or text into a cell and is indicated by a green cell border. Command mode binds the keyboard to notebook level commands and is indicated by a grey cell border with a blue left margin."

In [27]:
lst = str.split(" ")
# lst

In [28]:
counter = {}
for word in lst:
#     print(word)
    counter[word] = lst.count(word)
print(counter)

{'The': 1, 'Jupyter': 1, 'Notebook': 1, 'has': 1, 'two': 1, 'different': 1, 'keyboard': 2, 'input': 1, 'modes.': 1, 'Edit': 1, 'mode': 2, 'allows': 1, 'you': 1, 'to': 2, 'type': 1, 'code': 1, 'or': 1, 'text': 1, 'into': 1, 'a': 4, 'cell': 3, 'and': 2, 'is': 2, 'indicated': 2, 'by': 2, 'green': 1, 'border.': 1, 'Command': 1, 'binds': 1, 'the': 1, 'notebook': 1, 'level': 1, 'commands': 1, 'grey': 1, 'border': 1, 'with': 1, 'blue': 1, 'left': 1, 'margin.': 1}

In [33]:
for i in counter.keys():
    if i in lst[::-1]:
        print([i ,lst.index(i)])
#     print(i)

['The', 0]
['Jupyter', 1]
['Notebook', 2]
['has', 3]
['two', 4]
['different', 5]
['keyboard', 6]
['input', 7]
['modes.', 8]
['Edit', 9]
['mode', 10]
['allows', 11]
['you', 12]
['to', 13]
['type', 14]
['code', 15]
['or', 16]
['text', 17]
['into', 18]
['a', 19]
['cell', 20]
['and', 21]
['is', 22]
['indicated', 23]
['by', 24]
['green', 26]
['border.', 28]
['Command', 29]
['binds', 31]
['the', 32]
['notebook', 35]
['level', 36]
['commands', 37]
['grey', 43]
['border', 45]
['with', 46]
['blue', 48]
['left', 49]
['margin.', 50]

In [22]:
lst1 = [ i for i in range(0,20,2)]

In [24]:
print(list(map(lambda mul : mul*mul,lst1)))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(lst)

In [12]:
df.value_counts()

a            4
cell         3
is           2
indicated    2
keyboard     2
to           2
and          2
mode         2
by           2
left         1
level        1
margin.      1
modes.       1
Command      1
into         1
or           1
text         1
the          1
two          1
type         1
with         1
notebook     1
has          1
input        1
Edit         1
grey         1
green        1
different    1
commands     1
code         1
border.      1
border       1
blue         1
binds        1
allows       1
The          1
Notebook     1
Jupyter      1
you          1
dtype: int64

In [41]:
df  = pd.read_csv("D:\DS\ML\Project\Amazon - Movies and TV Ratings.csv")

In [40]:
df.dropna(axis = 0)

Empty DataFrame
Columns: [user_id, Movie1, Movie2, Movie3, Movie4, Movie5, Movie6, Movie7, Movie8, Movie9, Movie10, Movie11, Movie12, Movie13, Movie14, Movie15, Movie16, Movie17, Movie18, Movie19, Movie20, Movie21, Movie22, Movie23, Movie24, Movie25, Movie26, Movie27, Movie28, Movie29, Movie30, Movie31, Movie32, Movie33, Movie34, Movie35, Movie36, Movie37, Movie38, Movie39, Movie40, Movie41, Movie42, Movie43, Movie44, Movie45, Movie46, Movie47, Movie48, Movie49, Movie50, Movie51, Movie52, Movie53, Movie54, Movie55, Movie56, Movie57, Movie58, Movie59, Movie60, Movie61, Movie62, Movie63, Movie64, Movie65, Movie66, Movie67, Movie68, Movie69, Movie70, Movie71, Movie72, Movie73, Movie74, Movie75, Movie76, Movie77, Movie78, Movie79, Movie80, Movie81, Movie82, Movie83, Movie84, Movie85, Movie86, Movie87, Movie88, Movie89, Movie90, Movie91, Movie92, Movie93, Movie94, Movie95, Movie96, Movie97, Movie98, Movie99, ...]
Index: []

[0 rows x 207 columns]

In [ ]:
id,name,depname,salary

In [53]:
# select * from tablename where id = 1000
# select max(salary) group by depname oreder by desc

In [52]:
df[df['Movie2']==5.0]

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
    
lst1 = []
for i in range (x+1):
    for j in range (y+1):
        for k in range (z+1):
            lst1.append(list(zip(i,j,k)))
print(lst1)

1
1
2
3

TypeError: 'int' object is not iterable