In [1]:
Employee_info = {
    'emp1' : {
        'name' : 'Kaushal',
        'age' : 26,
        'tech' : 'Python developer',
        'experience' : '2 years'
    },
    'emp2' : {
        'name' : 'Rajanand',
        'age' : 26,
        'tech' : 'Software tester',
        'experience' : '2.1 years'
    }
}

In [2]:
for i,j in Employee_info.items():
    print(i,j)
    print(len(i))
#     for k in i:
#         print(k)

emp1 {'name': 'Kaushal', 'age': 26, 'tech': 'Python developer', 'experience': '2 years'}
4
emp2 {'name': 'Rajanand', 'age': 26, 'tech': 'Software tester', 'experience': '2.1 years'}
4

In [3]:
Employee_info = {
    
        'name' : 'Kaushal',
        'age' : 26,
        'tech' : 'Python developer',
        'experience' : '2 years'
    },

In [4]:
Employee_info.items()

AttributeError: 'tuple' object has no attribute 'items'

# Dictionary

### Fromkeys

In [ ]:
d = {
    'name':'unknown',
    'age':'unknown'
}

In [ ]:
d = dict.fromkeys(['name','age','height'],'unknown')
print(d)

In [ ]:
d = dict.fromkeys(('name','age','height'),'unknown')
print(d)

In [ ]:
d = dict.fromkeys("abc",'unknown')
print(d)

In [ ]:
d = dict.fromkeys(range(1,10),'unknown')
print(d)

In [ ]:
d = dict.fromkeys(['name','age'],['unknown','unknown'])
print(d)

### GET METHOD

In [ ]:
d = {'name':'unknown','age':'unknown'}
print(d['name'])
print(d['names'])    # Here this line is returning the error message.

In [ ]:
d = {'name':'Kaushal','age':'unknown'}
print(d.get('name'))
print(d.get('names'))    # it returns none instead of error

In [ ]:
if 'name' in d:
    print('present')
else:
    print('Not Present')

In [ ]:
if d.get('name'):           # if it founds key then true if it founds None then it is false.
    print("Present")
else:
    print('Not Present')
    
    
#if None

In [ ]:
d1 =d.copy()    # If we make change it d1 it doesn't effect the original one(d).
d1.popitem()
print(d1)
print(d)

In [ ]:
d2 = d  # both the dict are same and any operation will affect original one dict.
print(f"Popped Item{d2.popitem()}")
print(d)

In [ ]:
user = {
    'name':'Kausahl',
    'age': 26
}

print(user.get('name'))
print()
print(user.get('names'))
print()
print(user.get('names','Not Found'))

In [ ]:
user = {
    'name':'Kausahl',
    'age': 26,
    'age': 34
}

print(user)

#  Dict Exercise

In [ ]:
print( [ i**3 for i in range(1,11)])

In [ ]:
def find_cube(num):
    cube_dict = {}
    
    for i in range(1,num+1):
        cube_dict[i] = i**3
    return cube_dict

In [ ]:
print(find_cube(10))

# Word Count using Dictionary
## Creating a function

In [ ]:
def word_count(word):
    word = word.lower()
    counter_d = {}
    for i in word:
        counter_d[i] = word.count(i)
    return counter_d

In [ ]:
dict = word_count("kaushalKishor")

for i,j in dict.items():
    print(f"{i}:{j}")

In [ ]:
import pandas as pd
in_str = input("Enter any string : ")
df = pd.DataFrame([i for i in in_str])
df.value_counts()

In [ ]:
def user_info():
    name = input("Please Enter your name:")
    age = int(input("Please enter your age:"))
#     fav_movies =

# Set

In [ ]:
lst = [11,1,1223,4,5,5,66,5,44,32,23,4,56,65,4,3,1]   # Finding all the unique values.
lst1 = list(set(lst))
print(lst1)

In [ ]:
s = {1,2,6}
s.add(5)
# s.remove(3)
s.discard(4)    # It finds the particular element and removes it. If it does'nt find the element then It will not throw error.
s1 = s.copy()
s.clear()
print(s1,s)

# | (this pipe is used in sets for union)
# & (This and operator is used for intersection in sets )

In [ ]:
lst = ['abc','pqr','xyz']
print([i[::-1] for i in lst])

In [ ]:
numbers = list(range(1,11))

even = [i for i in numbers if i%2==0]
print(even)

In [ ]:
print([[i for i in range(1,4)] for j in range(3)])

In [ ]:
square = {f"Square of num is{num}" : num ** 2 for num in range(11)}
print(square)

In [ ]:
string = "kaushal"
word_count = {char:string.count(char) for char in string}
print(word_count)

In [ ]:
def mul_args(num,*args):
    return [i**num for i in args]       
    

list1 = [i for i in range(1,11)]
print(mul_args(3,*list1))

## How to pass all kind of arguments in a fuction:

In [ ]:
# parameter
# *args
# default parameter
# **kwargs

In [ ]:
def func(name,*args,last_name = 'Kaushal',**kwargs):
    print(name)
    print(args)
    print(last_name)
    print(kwargs)
    
print(func('Kaushal','rr','institute','kishor', a=1,b=4))

def f_capital(*args):
    for i in args:
        print(i.title())
        
list1 = ['kaushal','kishor']
f_capital(*list1)

## enumerate() function is used to find the position of the element in list.

In [ ]:
lst = ['kaushal','kishor','this','is','my','name']

for pos,name in enumerate(lst):   # Enumerate will map name with its postion number
    print(f"{pos} --> {name}")
print(list(enumerate(lst)))

# Map function

In [ ]:
numbers = [i for i in range(1,11)]
squares = list(map(lambda num : num**2,numbers))
# squares = numbers.apply(lambda num : num**2)
print(squares)

## filter function

In [ ]:

def is_even(num):
    return num % 2 == 0
l1 = list(range(1,21))
print(list(filter(is_even,l1)))

list(filter(lambda a:a%2==0,numbers))

In [ ]:
[i for i in filter(lambda a:a%2==0,numbers)]

# ZIP function

In [ ]:

l1 = [ i for i in range(1,11) if i%2==1]
l2 = [ i for i in range(1,11) if i%2==0]

print([ max(pair) for pair in zip(l1,l2)])

In [ ]:
import numpy as np

In [ ]:
np.random.randn(25)

In [ ]:
np.arange(1,10).reshape(3,3)

In [ ]:
np.identity(3)

In [ ]:
np.array(10)

In [ ]:
np.linspace(0,1,20)

In [ ]:
mat = np.arange(1,26).reshape(5,5)
mat

In [ ]:
mat[2:,1:]

In [ ]:
mat[0:3,1].reshape(3,1)

In [ ]:
mat[4,:]

In [ ]:
mat.sum()

In [ ]:
mat.std()

In [ ]:
mat.sum(axis = 1)

In [ ]:
import random
# num = int(input("Enter the number of lists. "))
lst1 = random.randint(1,10)
print(lst1)

In [ ]:
# np.randint()

In [ ]:
def avg_fun(*args):
    avg = []
    for pair in zip(*args):
        print(pair)
        avg.append(sum(pair)/len(pair))
    return avg
print(avg_fun([1,2,3],[4,5,6],[7,8,9]))

In [ ]:
lst11 = lambda *args : [sum(pair)/len(pair) for pair in zip(*args)]
lst11([1,2,3],[4,5,6],[7,8,9])

In [ ]:
std1 = {
    "kk":{"name":"Kaushal","score":85,"age":26},
    "kk1":{"name":"Kishor","score":95,"age":25},
    "kk2":{"name":"K","score":75,"age":25}
}


# for k,v in std1.items():
# #     for k1,v1  in k.items():
        
#         print(k,v.get("score"))

        
print(max(std1,key = lambda item : std1[item]['score']))

In [ ]:
ddd1 = {"name":"Kaushal","score":85,"age":26}

ddd1.get("name")

In [ ]:
# help(dict)

In [ ]:
pair = ((0,1),(1,2),(2,1))
dict(pair)

In [ ]:
def outer():
    def inner():
        print("Inner")
    return inner
var1 = outer()

In [ ]:
var1()

In [ ]:
def to_power(x):
    def calc_pow(n):
        return n**x
    return calc_pow

cube = to_power(3)

cube(2)

In [5]:
from turtle import *
color('silver', 'silver')
bgcolor('black')
begin_fill()
while True:
    forward(190)
    left(75)
    if abs(pos()) < 1:
        break
end_fill()
done()
# from random import randint
# bgcolor('black')
# x = 1
# while x<400:
#     r = randint(0,255)
#     g = randint(0,255)
#     b = randint(0,255)
#     colormode(255)
#     pencolor('red')
#     fd(50+x)
#     rt(90.991)
#     x = x+1
#     exitonclick()

Terminator: