In [3]:
import pandas as pd
from sklearn.datasets import load_boston
boston = load_boston()
data = pd.DataFrame(boston.data)
data.columns = boston.feature_names
data['Price'] = boston.target
print(boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of black people by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [5]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [9]:

# 1) Replace all RAD values = 24 with 0

for i in data['RAD']:
    if i == 24:
        data["RAD"] = 0;
#     print(i)
# data['RAD'] = data['RAD'].apply(lambda x: 0 if x=24)

In [52]:
data.iloc[2]

CRIM         0.02729
ZN           0.00000
INDUS        7.07000
CHAS         0.00000
NOX          0.46900
RM           7.18500
AGE         61.10000
DIS          4.96710
RAD          0.00000
TAX        242.00000
PTRATIO     17.80000
B          392.83000
LSTAT        4.03000
Price       34.70000
col          0.00000
Name: 2, dtype: float64

In [55]:

# 2) For each record, find highest column value and create new column with that column name
for i in range(len(data)):
    data.iloc[i]

In [37]:
# 3) Create new column having pattern 573 in NOX
data['col'] = data["NOX"].apply(lambda x: 1 if x ==0.573 else 0)
data.tail(22)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price,col
484,2.37857,0.0,18.10,0.0,0.583,5.871,41.9,3.7240,0,666.0,20.2,370.73,13.34,20.6,0
485,3.67367,0.0,18.10,0.0,0.583,6.312,51.9,3.9917,0,666.0,20.2,388.62,10.58,21.2,0
486,5.69175,0.0,18.10,0.0,0.583,6.114,79.8,3.5459,0,666.0,20.2,392.68,14.98,19.1,0
487,4.83567,0.0,18.10,0.0,0.583,5.905,53.2,3.1523,0,666.0,20.2,388.22,11.45,20.6,0
488,0.15086,0.0,27.74,0.0,0.609,5.454,92.7,1.8209,0,711.0,20.1,395.09,18.06,15.2,0
489,0.18337,0.0,27.74,0.0,0.609,5.414,98.3,1.7554,0,711.0,20.1,344.05,23.97,7.0,0
490,0.20746,0.0,27.74,0.0,0.609,5.093,98.0,1.8226,0,711.0,20.1,318.43,29.68,8.1,0
491,0.10574,0.0,27.74,0.0,0.609,5.983,98.8,1.8681,0,711.0,20.1,390.11,18.07,13.6,0
492,0.11132,0.0,27.74,0.0,0.609,5.983,83.5,2.1099,0,711.0,20.1,396.90,13.35,20.1,0
493,0.17331,0.0,9.69,0.0,0.585,5.707,54.0,2.3817,0,391.0,19.2,396.90,12.01,21.8,0
494,0.27957,0.0,9.69,0.0,0.585,5.926,42.6,2.3817,0,391.0,19.2,396.90,13.59,24.5,0
495,0.17899,0.0,9.69,0.0,0.585,5.670,28.8,2.7986,0,391.0,19.2,393.29,17.60,23.1,0
496,0.28960,0.0,9.69,0.0,0.585,5.390,72.9,2.7986,0,391.0,19.2,396.90,21.14,19.7,0
497,0.26838,0.0,9.69,0.0,0.585,5.794,70.6,2.8927,0,391.0,19.2,396.90,14.10,18.3,0
498,0.23912,0.0,9.69,0.0,0.585,6.019,65.3,2.4091,0,391.0,19.2,396.90,12.92,21.2,0
499,0.17783,0.0,9.69,0.0,0.585,5.569,73.5,2.3999,0,391.0,19.2,395.77,15.10,17.5,0
500,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,0,391.0,19.2,396.90,14.33,16.8,0
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,0,273.0,21.0,391.99,9.67,22.4,1
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,0,273.0,21.0,396.90,9.08,20.6,1
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,0,273.0,21.0,396.90,5.64,23.9,1
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,0,273.0,21.0,393.45,6.48,22.0,1
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,0,273.0,21.0,396.90,7.88,11.9,1