In [1]:
day city temp
1,1,34
2,1,35
.
.
.

5*2 city,temp



        
df1 = df.groupby(['city'])['temp'].mean()

df1.iloc([:5,:])
df2 = df1.iloc([5:,:]).mean()

for i in range(len(df['city'])):
    if i >=5:
        temp = df    

pd.concat(df1,df2)

SyntaxError: invalid syntax (Temp/ipykernel_20312/239427224.py, line 1)

In [2]:
import pandas as pd

In [ ]:
pd.co