In [9]:
import pandas as pd
import numpy as np

In [19]:
dates = pd.date_range('20130101', periods = 6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [22]:
df = pd.DataFrame(np.random.randn(6,4),index = dates,columns = list("ABCD"))
df

                   A         B         C         D
2013-01-01 -2.223718  0.370159  1.882209  0.791099
2013-01-02 -0.045824  0.339656  0.483034  0.165555
2013-01-03 -0.935037  0.758822 -0.547376 -0.851393
2013-01-04  1.114437  0.728980  1.919718  1.935985
2013-01-05  0.409424 -0.103219 -2.462293 -0.171164
2013-01-06 -0.527451 -0.656166 -0.220055 -0.051503

In [30]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

lst = ['A','df2.bool','df2.abs','df2.boxplot','df2.add','df2.C','df2.add_prefix','df2.clip','df2.add_suffix','df2.columns','df2.align','df2.copy','df2.all','df2.count','df2.any','df2.combine','df2.append','df2.D']
df.to_numpy()

array([[-2.22371785,  0.3701593 ,  1.88220907,  0.79109887],
       [-0.04582364,  0.33965625,  0.48303427,  0.16555487],
       [-0.93503668,  0.75882226, -0.54737621, -0.85139311],
       [ 1.11443689,  0.72897987,  1.91971772,  1.93598501],
       [ 0.40942432, -0.10321942, -2.46229334, -0.17116378],
       [-0.52745126, -0.65616595, -0.22005523, -0.05150303]])

In [37]:
import sys
print(sys.version)
# print(__std)

3.9.7 (default, Sep 16 2021, 16:59:28) [MSC v.1916 64 bit (AMD64)]

In [36]:
# help(sys)