In [1]:
import pandas as pd

In [30]:
dict1 = {
#     "day":["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"],
    "day": pd.date_range("2017/1/1",periods = 6),
    "event":["Rain","Sunny","Snow","Snow","Rain","Sunny"],
    "Temperature":[32,35,28,24,32,31],
    "windspeed":[6,7,2,7,4,2]
}

df = pd.DataFrame(dict1)

In [31]:
df.rename(columns = {"Temperature":"temp"}, inplace = True)

In [36]:
df.sort_index(axis= 0, ascending = False)

         day  event  temp  windspeed
5 2017-01-06  Sunny    31          2
4 2017-01-05   Rain    32          4
3 2017-01-04   Snow    24          7
2 2017-01-03   Snow    28          2
1 2017-01-02  Sunny    35          7
0 2017-01-01   Rain    32          6

In [5]:
df[["day","event","windspeed"]][df["event"]=="Rain"]

         day event  windspeed
0 2017-01-01  Rain          6
4 2017-01-05  Rain          4

In [6]:
df.set_index('day', inplace = True)

In [7]:
df.loc['1/4/2017']

event        Snow
temp           24
windspeed       7
Name: 2017-01-04 00:00:00, dtype: object

In [8]:
df.reset_index(inplace = True)

In [9]:
df

         day  event  temp  windspeed
0 2017-01-01   Rain    32          6
1 2017-01-02  Sunny    35          7
2 2017-01-03   Snow    28          2
3 2017-01-04   Snow    24          7
4 2017-01-05   Rain    32          4
5 2017-01-06  Sunny    31          2

In [10]:
df.set_index("event",inplace = True)

In [11]:
df.loc['Snow']

             day  temp  windspeed
event
Snow  2017-01-03    28          2
Snow  2017-01-04    24          7

lec 3

In [12]:
df

             day  temp  windspeed
event
Rain  2017-01-01    32          6
Sunny 2017-01-02    35          7
Snow  2017-01-03    28          2
Snow  2017-01-04    24          7
Rain  2017-01-05    32          4
Sunny 2017-01-06    31          2

In [37]:
df.reset_index()

   index        day  event  temp  windspeed
0      0 2017-01-01   Rain    32          6
1      1 2017-01-02  Sunny    35          7
2      2 2017-01-03   Snow    28          2
3      3 2017-01-04   Snow    24          7
4      4 2017-01-05   Rain    32          4
5      5 2017-01-06  Sunny    31          2

In [41]:
df.sort_values(by = 'temp', ascending = False)

         day  event  temp  windspeed
1 2017-01-02  Sunny    35          7
0 2017-01-01   Rain    32          6
4 2017-01-05   Rain    32          4
5 2017-01-06  Sunny    31          2
2 2017-01-03   Snow    28          2
3 2017-01-04   Snow    24          7

In [42]:
df.day

0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
4   2017-01-05
5   2017-01-06
Name: day, dtype: datetime64[ns]

In [60]:
df.set_index("day")['2017-01-01':'2017-01-03']

            event  temp  windspeed
day
2017-01-01   Rain    32          6
2017-01-02  Sunny    35          7
2017-01-03   Snow    28          2

In [66]:
df.loc[:3,['day','temp']]

         day  temp
0 2017-01-01    32
1 2017-01-02    35
2 2017-01-03    28
3 2017-01-04    24

In [68]:
df.iloc[0:3,1:3]

   event  temp
0   Rain    32
1  Sunny    35
2   Snow    28

In [88]:
import re

In [132]:
text = '''Elon musk's phone number is 8009261548, (734)-666-8888 coll him if you have any wuestions on dodgecoin'''

pattern = '\(\d{3}\)-\d{3}-\d{4}|\d{10}'

In [133]:
mat = re.findall(pattern,text)

In [134]:
mat

['8009261548', '(734)-666-8888']