In [2]:
from pyspark.sql import SparkSession
sp = SparkSession.builder.appName("Dataframe").getOrCreate()

In [3]:
sp

In [58]:
# read the dataset

# Option 1
df=sp.read.option('header','true').csv('spark.csv',inferSchema=True)
df.show()

+-----+-------+---+
|Sr.No|   Name|Age|
+-----+-------+---+
|    1|Kaushal| 26|
|    2| Satyam| 24|
|    3| Shivam| 26|
|    4|Ranjeet| 25|
+-----+-------+---+

In [13]:
df.printSchema()

root
 |-- Sr.No: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [14]:
df.columns

['Sr.No', 'Name', 'Age']

In [17]:
df.head(3)

[Row(Sr.No=1, Name='Kaushal', Age=26),
 Row(Sr.No=2, Name='Satyam', Age=24),
 Row(Sr.No=3, Name='Shivam', Age=26)]

In [24]:
df.select(['Name','Age']).show()

+-------+---+
|   Name|Age|
+-------+---+
|Kaushal| 26|
| Satyam| 24|
| Shivam| 26|
|Ranjeet| 25|
+-------+---+

In [25]:
df.dtypes

[('Sr.No', 'int'), ('Name', 'string'), ('Age', 'int')]

In [31]:
df.describe().show()

+-------+------------------+-------+-----------------+
|summary|             Sr.No|   Name|              Age|
+-------+------------------+-------+-----------------+
|  count|                 4|      4|                4|
|   mean|               2.5|   null|            25.25|
| stddev|1.2909944487358056|   null|0.957427107756338|
|    min|                 1|Kaushal|               24|
|    max|                 4| Shivam|               26|
+-------+------------------+-------+-----------------+

In [40]:
# Adding column in pyspark
df = df.withColumn('Age after 2 yrs',df['Age']+2)

In [51]:
df.show()

AttributeError: 'NoneType' object has no attribute 'show'

In [63]:
# df = df.drop('Age after 2 yrs')

In [61]:
# Renaming column
df = df.withColumnRenamed('Name','Your_Name')

In [62]:
df.show()

+-----+---------+---+
|Sr.No|Your_Name|Age|
+-----+---------+---+
|    1|  Kaushal| 26|
|    2|   Satyam| 24|
|    3|   Shivam| 26|
|    4|  Ranjeet| 25|
+-----+---------+---+