In [7]:
from pyspark.sql import SparkSession
ps = SparkSession.builder.appName("Practice").getOrCreate()
ps

In [10]:
df = ps.read.csv("spark.csv",header=True,inferSchema=True)

In [11]:
df.show()

+-----+-------+---+------+
|Sr.No|   Name|Age|Salary|
+-----+-------+---+------+
|    1|Kaushal| 26| 42000|
|    2| Satyam| 24| 25000|
|    3| Shivam| 26| 30000|
|    4|Ranjeet| 25| 40000|
|    5|Ghanavi| 23| 50000|
|    6|Kaushal| 26| 25000|
|    7| Satyam| 24| 16000|
|    8|Ranjeet| 25| 20000|
|    9|Ghanavi| 23| 15000|
+-----+-------+---+------+

In [12]:
df.printSchema()

root
 |-- Sr.No: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [34]:
# GroupBy

df.groupBy('Name').sum('salary').show()

+-------+-----------+
|   Name|sum(salary)|
+-------+-----------+
|Ranjeet|      60000|
|Kaushal|      67000|
| Shivam|      30000|
| Satyam|      41000|
|Ghanavi|      65000|
+-------+-----------+

In [35]:
df.groupBy('Name').count().show()

+-------+-----+
|   Name|count|
+-------+-----+
|Ranjeet|    2|
|Kaushal|    2|
| Shivam|    1|
| Satyam|    2|
|Ghanavi|    2|
+-------+-----+

In [38]:
df.groupBy('Name').mean('salary').show()

+-------+-----------+
|   Name|avg(salary)|
+-------+-----------+
|Ranjeet|    30000.0|
|Kaushal|    33500.0|
| Shivam|    30000.0|
| Satyam|    20500.0|
|Ghanavi|    32500.0|
+-------+-----------+

In [41]:
df.groupBy('Name').max('salary').show()

+-------+-----------+
|   Name|max(salary)|
+-------+-----------+
|Ranjeet|      40000|
|Kaushal|      42000|
| Shivam|      30000|
| Satyam|      25000|
|Ghanavi|      50000|
+-------+-----------+

In [32]:
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     263000|
+-----------+