### Pyspark Dataframe
- filter Operation
- &,|,==
- ~

In [1]:
from pyspark.sql import SparkSession
ps = SparkSession.builder.appName("Practice").getOrCreate()

In [35]:
df = ps.read.csv('spark.csv',header=True,inferSchema=True)

In [36]:
df.show()

+-----+-------+----+------+
|Sr.No|   Name| Age|Salary|
+-----+-------+----+------+
|    1|Kaushal|  26| 42000|
|    2| Satyam|  24| 25000|
|    3| Shivam|  26|  null|
|    4|Ranjeet|  25| 40000|
|    5|Ghanavi|null|  null|
+-----+-------+----+------+

Object `df.show()` not found.

In [44]:
# Filter Operation
df.filter('Salary <45000').select(['name','age']).show()

+-------+---+
|   name|age|
+-------+---+
|Kaushal| 26|
| Satyam| 24|
|Ranjeet| 25|
+-------+---+

In [50]:
df.filter((df['salary']>=25000) & (df['salary']<=50000)).show()

+-----+-------+----+------+
|Sr.No|   Name| Age|Salary|
+-----+-------+----+------+
|    1|Kaushal|  26| 42000|
|    2| Satyam|  24| 25000|
|    3| Shivam|  26| 50000|
|    4|Ranjeet|  25| 40000|
|    5|Ghanavi|null| 50000|
+-----+-------+----+------+

In [54]:
df.filter(~(df['salary']>=30000)).show()

+-----+------+---+------+
|Sr.No|  Name|Age|Salary|
+-----+------+---+------+
|    2|Satyam| 24| 25000|
+-----+------+---+------+