In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\kaushal.kishor\anaconda3\lib\site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\kaushal.kishor\anaconda3\lib\site-packages (from pyspark) (0.10.9.5)

In [ ]:
import pyspark

In [37]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
df =pd.read_excel("spark.xlsx")
df.to_csv("spark.csv")
df.head()

   Sr.No     Name  Age
0      1  Kaushal   26
1      2   Satyam   24
2      3   Shivam   26
3      4  Ranjeet   25

In [38]:
from pyspark.sql import SparkSession

In [39]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [40]:
spark

In [49]:
df_pyspark=spark.read.option("header","true").csv("spark.csv")

In [50]:
df_pyspark.show()

+---+-----+-------+---+
|_c0|Sr.No|   Name|Age|
+---+-----+-------+---+
|  0|    1|Kaushal| 26|
|  1|    2| Satyam| 24|
|  2|    3| Shivam| 26|
|  3|    4|Ranjeet| 25|
+---+-----+-------+---+

In [32]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Unnamed: 0: string (nullable = true)
 |-- Unnamed: 1: string (nullable = true)
 |-- Unnamed: 2: string (nullable = true)
 |-- Unnamed: 3: string (nullable = true)
 |-- Unnamed: 4: string (nullable = true)
 |-- Unnamed: 5: string (nullable = true)
 |-- Unnamed: 6: string (nullable = true)
 |-- Unnamed: 7: string (nullable = true)
 |-- Unnamed: 8: string (nullable = true)
 |-- Unnamed: 9: string (nullable = true)
 |-- Unnamed: 10: string (nullable = true)
 |-- Unnamed: 11: string (nullable = true)
 |-- Unnamed: 12: string (nullable = true)
 |-- Unnamed: 13: string (nullable = true)
 |-- Unnamed: 14: string (nullable = true)
 |-- Unnamed: 15: string (nullable = true)
 |-- Unnamed: 16: string (nullable = true)
 |-- Unnamed: 17: string (nullable = true)
 |-- Unnamed: 18: string (nullable = true)
 |-- Unnamed: 19: string (nullable = true)
 |-- Unnamed: 20: string (nullable = true)
 |-- Unnamed: 21: string (nullable = true)
 |-- Unnamed: 22: string (nullable = true)
 |-- Unnamed: 23: string (nullable = true)
 |-- Unnamed: 24: string (nullable = true)
 |-- Unnamed: 25: string (nullable = true)
 |-- Unnamed: 26: string (nullable = true)
 |-- Unnamed: 27: string (nullable = true)
 |-- Unnamed: 28: string (nullable = true)
 |-- Unnamed: 29: string (nullable = true)
 |-- Unnamed: 30: string (nullable = true)
 |-- Unnamed: 31: string (nullable = true)
 |-- Unnamed: 32: string (nullable = true)
 |-- Unnamed: 33: string (nullable = true)
 |-- Unnamed: 34: string (nullable = true)
 |-- Unnamed: 35: string (nullable = true)
 |-- Unnamed: 36: string (nullable = true)
 |-- Unnamed: 37: string (nullable = true)
 |-- Unnamed: 38: string (nullable = true)